/* homepage ----------- */
.homepage {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    background-image: radial-gradient(rgb(0, 0, 0) 1px, transparent 0);
    background-size: 40px 40px;
}

#p1 {
    width: 42%;
}

#p2 {
    width: 57%;
}

#p1,
#p2,
#p3 {
    font-size: 5vmax;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
}

.homepage-content #p4 {
    font-size: 1.3vmax;
    color: var(--charcoal-color);
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    width: 70%;
    background-color: white;
}

.homepage #view-projects {
    padding: 0.7rem 0.7rem;
    padding-bottom: 0.4rem;
}

@media (max-width:900px) {

    #p1,
    #p2,
    #p3 {
        font-size: 6vmax;
    }

    .homepage-content #p4 {
        font-size: 1.7vmax;
    }
}

@media (max-width:768px) {

    #p1,
    #p2,
    #p3 {
        font-size: 6.5vmax;
    }
}

@media (max-width:550px) {

    #p1,
    #p2,
    #p3 {
        font-size: 8vmax;
    }

    .homepage-content #p4 {
        font-size: 2.5vmax;
        width: 80%;

    }
}

@media (max-width:375px) {

    #p1,
    #p2,
    #p3 {
        font-size: 7.5vmax;
    }

    .homepage-content #p4 {
        font-size: 2.4vmax;
    }
}