.testimonials {
    background-image: radial-gradient(rgb(201, 201, 201) 1px, transparent 0);
    background-size: 40px 40px;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.testimonial-content {
    flex-basis: calc(50% - 1rem);
    padding: 1.5rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    background-color: black;
    color: white;
}

.testimonial-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.testimonial-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 768px) {
    .testimonial-content {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 550px) {
    .testimonials {
        background-image: radial-gradient(rgb(201, 201, 201) 0px, transparent 0);
    }

    .testimonial-content {
        box-shadow: 0px 10px 10px rgb(0, 0, 0);
    }
}