@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --gold-color: rgb(255, 217, 0);
  --charcoal-color: rgb(34, 34, 34);
  --border-1: 1px solid rgba(0, 0, 0, 0.293);
  --border-2: 1px solid gray;
  --margin-box: 5rem 7%;
  --margin-content-top: 2rem;
  --margin-content-bottom: 5rem;
  scroll-behavior: smooth;
}

/* CSS Reset */
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

body {
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
  margin-inline: auto;
}

section {
  padding: 5rem 7%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* utilities classes ----- */
.josefin-font {
  font-family: 'Josefin Sans', sans-serif;
}

.numbers {
  color: rgb(255, 255, 255);
  font-size: 6.5vmax;
  font-family: 'Josefin Sans', sans-serif;
}

.numbers span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vmax;
}

.button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vmax;
  padding: 0.5rem 0.7rem;
  padding-bottom: 0.3rem;
  border-radius: 30px;
  background-color: var(--gold-color);
  font-weight: 400;
  transition: all .4s ease;
  color: black;
}

.button:hover {
  transform: scale(1.1);
}

.black {
  color: black;
}

.white {
  color: white;
}

@media (max-width:900px) {
  .button {
    font-size: 2.3vmax;
  }
}

@media (max-width:768px) {
  .numbers {
    font-size: 7.5vmax;
  }

  .numbers span {
    font-size: 2.9vmax;
  }
}

@media (max-width:550px) {
  .button {
    font-size: 2.9vmax;
  }

  .numbers {
    font-size: 9vmax;
  }

  .numbers span {
    font-size: 4vmax;
  }
}

@media (max-width:375px) {
  .button {
    font-size: 2.5vmax;
  }
}